
<div class="widget-wrap">
    <h3 class="widget-title">
        Get your GA4 history
    </h3>
    <script>
      function submitDL(value){
        dataLayer.push({'event':'ga4_email','ga4_email':value});
        document.getElementById('email').value = 'Submitted! See inbox'
        var button = document.getElementById('email_button');
        button.disabled = true;
      }
        
    </script>
    <div>
        <input type="email" name="email"  id="email"
          required 
          minlength="8"
          placeholder="you@email.com">
        <button id='email_button'
          onclick="javascript:submitDL(document.getElementById('email').value);"
         >Send</button>
    </div>
</div>

